[package]
name = "beekeeper"
version = "0.1.0"
edition = "2021"

[dependencies]
actix-web = "4.9.0"
argon2 = "0.5.3"
bson = "2.0"
chrono = { version = "0.4.39", features = ["serde"] }
ed25519-dalek = { version = "2.1.1", features = ["rand_core"] }
lettre = { version = "0.11.11", features = ["smtp-transport", "tokio1", "tokio1-native-tls", "serde"] }
rand = "0.8.5"
reqwest = { version = "0.12.8", features = ["json"] }
rusty_paseto = { version = "0.7.2", features = ["core"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.128"
static_init = "1.0.3"
thiserror = "1.0.64"
tokio = { version = "1", features = ["full"] }
uuid = { version = "1.12.0", features = ["v4"] }

[dev-dependencies]
mockall = "0.13.0"



[features]
actix = []
memory = []

default = ["actix", "memory"]
